# 配置忽略 node_modules 目录
node_modules/

# 配置忽略 .env 文件
.env

# 配置忽略 dist 目录
dist/
.cache
.temp

# 配置忽略 coverage 目录
coverage/

# 配置忽略 vue-cli 生成的配置文件
.postcssrc.js
.eslintrc.js
.babelrc

# 忽略yarn
yarn.lock
package-lock.json

# 忽略内容
blog/detail/*.md
# 忽略图片
blog/.vuepress/public/assets/imgs/*/*
# 不忽略配置图
!blog/.vuepress/public/assets/imgs/*

# 忽略 mac 自带文件
.DS_Store
