.log_404 {
    margin-top: 14rem;
    margin-bottom: 2rem;
    font-weight: 900;
    font-size: 5rem;
}

.msg_404 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 900;
    font-size: 1.25rem;
}

.home_btn {
    text-decoration: inherit;
    border-radius: 0.5rem;
    border: 2px solid var(--theme-color-light);
    background-color: transparent;
    padding: 0.5rem;
    &:hover, &:active {
        border: 2px solid var(--theme-color)
    }
}
