* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    line-height: 24px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    color: var(--c-text);
    direction: ltr;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
        content: ' ';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(/assets/imgs/bg02.jpeg) no-repeat center / cover;
    }
}

.back-to-top {
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    margin: 5px;
    transition: opacity .25s,border-color .5s,transform .25s;
    border-radius: 10px;
    border: 2px solid var(--c-border-dark);
    background-color: var(--c-bg);
    box-shadow: 0 0 10px var(--card-shadow);
    mask: inherit;
    &:hover {
        background-color: var(--c-bg);;
        border-color: var(--theme-color);
    }
    &::before {
        content: '';
        mask: url('../components/icons/rocket.svg');
        background-color: var(--c-text);
        position: absolute;
        z-index: 3;
        display: block;
        top: 0.3rem;
        left: 0.3rem;
        width: 80%;
        height: 80%;
    }
    &:hover::before {
        background-color: var(--theme-color);
    }
}

#nprogress .bar {
    background: var(--theme-color);
    height: 3px;
}

/* 确保弹出图片使用默认定位 */
// A + B → 相邻兄弟选择器（只选紧挨着的下一个 B）。
// A ~ B → 通用兄弟选择器（选所有后续的兄弟 B）。
.medium-zoom-overlay ~ .medium-zoom-image {
    zoom: 1 !important;
}
