body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    line-height: 24px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    color: var(--c-text);
    background-color: var(--c-bg);
    background: url(/assets/imgs/bg07.jpeg) no-repeat center / cover;
    background-attachment: fixed;
    direction: ltr;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
