div[class*=language-].line-numbers-mode .line-numbers {
    padding-top: 1.5rem;
    line-height: 1.5;
}

div[class*=language-].line-numbers-mode .line-numbers .line-number {
    height: 1.5em;
}

div[class*=language-] {
    margin-bottom: 1rem;
    border: 2px solid transparent;
    code {
        transition: color .5s;
        background-color: transparent;
    }
}

div[class*=language-]:hover {
    border: 2px solid var(--theme-color);
    & .lang {
        opacity: 0.8;
    }
    &::after {
        opacity: 1;
    }
}
