:root {
    // --theme-color: var(--c-brand);  // #3eaf7c
    --theme-color: #60c9e6;
    // --theme-color-light: var(--c-brand-light);  // #4abf8a = c100e
    --theme-color-light: #6cd9f4;
    --c-text-accent: var(--theme-color);
    --header-heigth: 3.5rem;
    --header-color: #ffffffb3;
    --header-z-index: 9;
    --card-radius: 10px;
    --card-margin: 1.5rem;
    --siderbar-width: 16rem;
    --tag-color: var(--c-bg-light);
    --active-font: 700;
    --brand-color: #2c3e50;
}

.dark {
    --header-color: #000000b3;
    --brand-color: hsla(0,0%,100%,0.871);
}
