:root {
    // --theme-color: var(--c-brand);  // #3eaf7c
    --theme-color: #60c9e6;
    // --theme-color-light: var(--c-brand-light);  // #4abf8a = c100e
    --theme-color-light: #6cd9f4;
    --c-text-accent: var(--theme-color);
    --header-heigth: 3.5rem;
    --header-color: #ffffffb3;
    --header-z-index: 9;
    --card-radius: 10px;
    --card-margin: 1.5rem;
    --siderbar-width: 16rem;
    --tag-color: var(--c-bg-light);
    --active-font: 700;
    --card-shadow: rgba(0,0,0,.2);
    --brand-color: #2c3e50;
    --title-bg-color: #374151;
    --title-font-color: #fff;
    --code-ln-wrapper-width: 2rem;
    --code-bg-color: #292d3e;
    --font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --content-padding: 1rem;
}

.dark {
    --header-color: #000000b3;
    --card-shadow: rgba(255,255,255,.2);
    --brand-color: hsla(0,0%,100%,0.871);
    --code-bg-color: #1a1a1a;
}
