:root {
    --theme-color: var(--c-brand);  // #3eaf7c
    // --theme-color : #ddf4ff;
    --theme-color-light: var(--c-brand-light);  // #4abf8a
    --header-heigth: 3.5rem;
    --header-color: #ffffffb3;
    --header-z-index: 9;
    --card-radius: 10px;
    --card-margin: 1.5rem;
    --siderbar-width: 16rem;
    --tag-color: var(--c-bg-light)
}

.dark {
    --header-color: #000000b3;
}
